/*Hader/Navigation*/
header {
  background-color: #99b3ff;
  text-align: center;
  width: 100%;
}
.navBar{
  display: inline;
}
.navBar img{
  width: 50px;
}
/*Game Area*/
.container {
  padding: 20px;
  background-color: red;

}
#gameBoard{
  margin-left: auto;
  margin-right: auto;
}
#scoreboardP1{
  float: left;
}
#scoreboardP2{
  float: right;
}

/*Footer*/
footer {
  background-color: black;
  color: white;
}

.contact {
  text-align: center;
}
.contact > li {
  display: inline;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 1% 0 1%;
}
