/*Hader/Navigation*/
header {
  background-color: #99b3ff;
  text-align: center;
  width: 100%;
}
.navBar{
  display: inline;
}
.navBar img{
  width: 50px;
}
/*Game Area*/
.container {
  padding: 20px;
  margin: 10px;
  background-color: red;

}
#gameBoard{
  width: 100px;
  margin: auto;
  margin-top: 70px;
}
#scoreboardP1{
  float: left;
}
#scoreboardP2{
  float: right;
}

/*Footer*/
footer {
  background-color: black;
  color: white;
}

.contact {
  text-align: center;
}
.contact > li {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
}

