/*colors
player1 green: #57c4d0;
player1 green on click: #57c4d0;
player2 fuscia : #990099;
player2 fuscia on click : #4d004d;

*/

body {
  font-family: "Open Sans";
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}
header {
  background-color: black;
  /*background-size: cover;*/
  text-align: center;
  height: 50px;
  /*width: 100%;*/
}
.navBar{
  display: inline;
}
#logo {
  float: left;
}

#settings{
  float: right;
}
.navBar img{
  width: 50px;
}
/*Game Area*/
.gameArea {
  padding: 10% 0 10% 0;
  background-color: #e6fff2;
}

.container {
  padding: 20px;
  margin: 20px auto;
  background-color: grey;
  text-align: center;
}
#scoreboardP1{
  float: left;
  margin-left: 15%;
}
#scoreboardP2{
  float: right;
  margin-right: 15%;
}
h2 {
  /*border-bottom: 3px solid #57c4d0;*/
  font-size: 24px;
  display: block;
}
#resetButton {
  margin: 0 auto;
  font-size: 2em;
  width: 150px;
}

#scoreboardP1 > h2{
  border-bottom: 3px solid #57c4d0;
}
#scoreboardP2 > h2{
  border-bottom: 3px solid #990099;
}
span {
  display: block;
  text-align: left;
}
.gameArea a{
  margin: 2px;
  padding: 30px;
  background-color: orange;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: white;
}
td > span{
  background-color: white;
  padding : 2px 10px;
  width: 30px;
  font-size: 40px;
  border-radius: 4px;
  text-align: center;
  margin: 2px;
}
.oPiece{
  color:#57c4d0;
  border: 3px solid #57c4d0;
}
.xPiece{
  color:#990099;
  border: 3px solid #990099;
}
/*Footer*/
footer {
  background-color: black;
  padding: 25px;
  text-align: center;
  /*margin-top: 30%;*/
}
.contact {
  display: inline;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: white;
}


